@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  /* Brand Colors */
  --color-primary: #658c4a;
  --color-secondary: #e7cec0;

  /* Basic Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Status / Semantic Colors */
  --color-info: #0065ff;
  --color-success: #36b37e;
  --color-warning: #ffab00;
  --color-error: #ff5630;

  /* Grey Scale */
  --color-grey-50: #f5f5f5;
  --color-grey-100: #e6e6e6;
  --color-grey-200: #cccccc;
  --color-grey-300: #b3b3b3;
  --color-grey-400: #999999;
  --color-grey-500: #666666;
  --color-grey-600: #333333;
  --color-grey-700: #262626;
  --color-grey-800: #191919;
  --color-grey-900: #0d0d0d;

  /* font family */
  --ff-inter: "Inter", system-ui, sans-serif;
  --ff-libre-baskerville: "Libre Baskerville", system-ui, serif;

  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
      scroll-behavior: smooth;
    }
  }

  html {
    font-size: 16px;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-inter);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-family: var(--ff-libre-baskerville);
  }
}
