.brand-message {
  width: 100%;
  overflow: hidden;
  padding: 120px 0px;
  background-image:
    linear-gradient(rgba(101, 140, 74, 0.9), rgba(101, 140, 74, 0.9)),
    url("../assets/images/bg-message.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 576px) {
    padding: 80px 0px;
  }

  .brand-message-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    gap: 80px;

    @media (max-width: 576px) {
      gap: 40px;
    }

    img {
      max-width: 444px;

      @media (max-width: 576px) {
        max-width: 298px;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 32px;
      line-height: 140%;
      color: var(--color-white);

      @media (max-width: 1024px) {
        font-size: 28px;
      }

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
  }
}
