@layer components {
  .hero {
    display: flex;
    justify-content: space-between;

    & .hero-content {
      width: 100%;
      padding: 80px 40px;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      gap: 24px;

      & h1 {
        font-weight: 700;
        font-size: 56px;
        text-align: center;
        color: var(--grey-600);
      }

      & p {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: var(--color-grey-500);
      }

      & .shop-now-btn {
        background-color: var(--color-primary);
        border-radius: 40px;
        padding: 12px 24px;
        display: inline-block;
        color: white;
        cursor: pointer;

        & a {
          text-decoration: none;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          color: var(--white);
        }
      }
      & .shop-now-btn:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
      }
    }

    & .hero-img {
      flex: 1;

      .hero-img img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }

  /* lg */
  @media (max-width: 1024px) {
    .hero {
      & .hero-content {
        padding: 10px 30px;

        & h1 {
          font-size: 46px;
        }

        & p {
          font-size: 16px;
        }
      }
    }
  }

  /* md */
  @media (max-width: 768px) {
    .hero {
      background-image:
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url("../assets/images/hero.png");

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      & .hero-content {
        padding: 120px 40px;

        & h1 {
          font-size: 40px;
        }

        & p {
          font-size: 14px;
          line-height: 143%;
        }
      }
    }

    & .hero-img {
      display: none;
    }
  }
}

/* sm */
@media (max-width: 576px) {
  .hero {
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
      url("../assets/images/hero-tablet-mobil.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
