@layer components {
  .newsletter {
    display: flex;
    justify-content: start;
    align-items: end;
    min-height: 810px;
    padding: 60px 120px;
    background-image: url("../assets/images/bg-newletters.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 576px) {
      min-height: 375px;
      padding: 24px 15px;
      background-image: url("../assets/images/mobil-bg-letters.png");
    }
    .newsletter-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      border-radius: 40px;
      padding: 40px;
      width: 648px;
      height: 272px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
      background: white;
      gap: 24px;

      @media (max-width: 576px) {
        border-radius: 24px;
        padding: 12px;
        width: 344px;
        height: 184px;
        gap: 16px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
      }
    }

    h3 {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: var(--color-grey-600);

      @media (max-width: 576px) {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
      }
    }

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      color: var(--color-grey-500);

      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 143%;
      }
    }

    .newsletter-form {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      min-width: 0;
      padding: 4px 4px 4px 24px;
      border: 1px solid var(--color-grey-200);
      border-radius: 40px;
      background: white;
      box-sizing: border-box;

      @media (max-width: 576px) {
        padding: 4px 4px 4px 10px;
      }

      input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--color-grey-500);

        @media (max-width: 576px) {
          font-size: 14px !important;
          line-height: 143% !important;
        }
      }

      & .newsletter-now-btn {
        background-color: var(--color-primary);
        border-radius: 40px;
        padding: 12px 24px;
        border: none;
        color: white;
        cursor: pointer;

        @media (max-width: 576px) {
          padding: 8px 16px;
          font-size: 14px !important;
          line-height: 143% !important;
          font-weight: 400 !important;

          &:hover {
            background-color: var(--color-secondary);
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
