@layer components {
  .press {
    position: relative;
    background-color: var(--color-primary);
    padding: 0px 60px 0px 0px;

    @media (max-width: 576px) {  
    padding-right: 0;
    overflow: hidden; 
}



    .press-grid {
      display: grid;
      grid-template-columns: 4fr 8fr;  

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }

      .press-left {
        padding: 0px 60px 0px 0px;
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
         @media (max-width: 576px) {
          display: none;
         }
        h3 {
          font-weight: 700;
          font-size: 40px;
          color: var(--color-primary);
        }
      }      

    @media (max-width: 576px) {
       .press-right::before {
      content: "We Are Exist";
      display: flex;
      justify-content: center;
      align-items: center;   
      position: absolute;
      width: 202px;
      height: 110px;
      top: 0px;
       left: 16px;
       padding: 12px 16px;
       background-color: var(--color-secondary);
       color: var(--color-primary);
       font-size: 24px;
       font-weight: 700;
       line-height: 1.2;  
       z-index: 3;
      }
      }


      .press-right {
        position: relative;        
        box-sizing: border-box;
        overflow: hidden; 
        padding: 83px 148px 83px 80px;
        background-color: var(--green);
        box-sizing: border-box;
           @media (max-width: 768px) {   
            padding:100px 0px 100px 0px   
          }

          @media (max-width: 576px) {   
            padding:150px 0px 20px 30px;
           
   
          }

        .press-logos {
          display: grid;
          grid-template-columns: repeat(4, 220px);
          gap: 24px;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 2;
              

          @media (max-width: 1024px) {   
          grid-template-columns: repeat(auto-fit, 220px); 
   
          }
           @media (max-width: 768px) {   
          grid-template-columns: repeat(2, 180px); 
   
          }
          @media (max-width: 576px) {
              grid-template-columns: repeat(2, 146px); 

      } 

          .logo {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              object-fit: contain;
              @media (max-width: 576px) {
              width: 146px;
              height: 40px;
} 
            }
          }
        }

        /* ===================== */
        /* DECORATIVE SHAPES */
        /* ===================== */
        .press-shapes {
          position: absolute;
          inset: 0;
          pointer-events: none;
          z-index: 1;       box-sizing: border-box;  
          
          @media (max-width: 1024px) {
          display: none }

          @media (max-width: 576px) {
          display: flex }          

          .shape {
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
          }      
          

          & .shape-1 {
            bottom: -4%;
            left: 40%;
            width: 323px;
            height: 216px;
            transform: scale(1.0);
            background-image: url("../assets/images/press-vector1.svg");
            -webkit-transform: scale(1.0);
            -moz-transform: scale(1.0);
            -ms-transform: scale(1.0);
            -o-transform: scale(1.0);

             @media (max-width: 1024px) {
             display: none }

      }

          & .shape-2 {
             bottom: 13%;
              left: 48%;
              width: 293px;
              height: 199px;
              transform: scale(1.0);
              background-image: url("../assets/images/press-vector2.svg");
              -webkit-transform: scale(1.0);
              -moz-transform: scale(1.0);
              -ms-transform: scale(1.0);
              -o-transform: scale(1.0);

               @media (max-width: 1024px) {
               display: none }

            }

          & .shape-3 {
            top: -0px;
            left: 20%;
            width: 90px;
            height: 90px;
            background-image: url("../assets/images/press-vector3.svg");
             @media (max-width: 576px) {
             top: 0;
              left: 320px;
              width: 122px;
              height: 76px;
                 
                     
            background-image: url("../assets/images/press-vector3.svg"); 
                  
      }

          }

          & .shape-4 {
            top: 0px;
            right: -4.5%;
            width: 210px;
            height: 210px;
            background-image: url("../assets/images/press-vector4.svg");

            @media (max-width: 1024px) {
            display: none }

          }

          & .shape-5 {
            bottom:-15%;
            left: 15%;
            width: 120px;
            height: 120px;
            background-image: url("../assets/images/press-vector5.svg"); 
            transform: scale(1.0);

            @media (max-width: 576px) {
              top: 100px;
              left: -20px;
              width: 112px;
              height: 66px;
              rotate: 90deg;        
                     
            background-image: url("../assets/images/press-vector5.svg"); 
                  
      }

          }
        }
      }
    }
  }
}
