@import url("./_base.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./category.css");
@import url("./products.css");
@import url("./new-products.css");
@import url("./brand-message.css");
@import url("./why-choose-us.css");
@import url("./newletter.css");
@import url("./footer.css");

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}
