@import url("./_base.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./category.css");
@import url("./products.css");

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}
